<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>SACEMA has developed a mathematical model to estimate the number of cases prevented by vaccination in a closed population, such as a school. Clicking on the icon at the top of the page will allow you to play with the model.</p>
                </div>
                <div class="col-lg-4">
                  <p>This page was created in response to the measles outbreak in Stellenbosch in Jan-Feb 2017 by Juliet Pulliam and James Azam. Juliet is the Director of SACEMA, and James is a postgraduate student in Mathematics.</p>
                </div>
            </div>
        </div>
    </section>
